html,
body,
h1,
h2,
h3,
p,
input,
button {
  font-family: Andika;
}
.col {
  margin-bottom: 10px;
  overflow: hidden;
}
.cmtWrap {
  display: none;
}
.cmtWrap div {
  width: auto;
  float: left;
}
.cmtWrap div:nth-child(2) {
  padding: 3px;
  margin-left: 10px;
}
